%h1
  Articles

- if @articles.present?
  - @articles.each do |article|
    .panel.panel-primary
      .panel-heading
        %h3.panel-title= article.title
      .panel-body
        = article.body
- else
  %p
    = 'Yet there is no news'


- content_for :sidebar_left, render( partial: 'shared/sidebar_left', locals: {title: 'Articles info', paragraph: 'top articles'} )

- content_for :sidebar_right, render(:partial => 'shared/sidebar_right')
