%h1 Articles#index
%p Find me in app/views/articles/index.html.haml

- content_for :sidebar_left, render( partial: 'shared/sidebar_left', locals: {title: 'Articles info', paragraph: 'top articles'} )

- content_for :sidebar_right, render(:partial => 'shared/sidebar_right')
