%form.form-vertical.hover-stripped{:role => "form"}
  .form-group
    %label.control-label Username
    %input.form-control{:disabled => "disabled", :type => "text", :value => "SuggeElson"}/
    %a.help-block.color-red{:href => "#"} Request new ?
  .form-group
    %label.control-label Full name
    %input.form-control{:type => "text", :value => "Jonh Doe"}/
  .form-group
    %label.control-label Email
    %input.form-control{:type => "email", :value => "suggeelson@suggeelson.com"}/
  .form-group
    %label.control-label New password
    %input.form-control{:type => "password"}/
  .form-group
    %label.control-label Repeat password
    %input.form-control{:type => "password"}/
  .form-group
    %label.control-label More info
    %textarea.form-control{:rows => "3"}
  / End .form-group
  .form-group.mb15
    %button.btn.btn-primary Change
  / End .form-group