%h1
  Latest news
- if @news.present?
  - @news.each do |n|
    .panel.panel-primary
      .panel-heading
        %h3.panel-title= n.title
      .panel-body
        = n.body
- else
  %p
    = 'Yet there is no news'
