%h1
  News
%p
  Safari and responsive justified navs
  As of v7.0.1, Safari exhibits a bug in which resizing your browser horizontally causes rendering errors in the justified nav that are cleared upon refreshing. This bug is also shown in the justified nav example.

- content_for :sidebar_left, render(:partial => 'sidebar_left')

- content_for :sidebar_right, render(:partial => 'sidebar_right')