%h1 Events#index
%p Find me in app/views/events/index.html.haml

- content_for :sidebar_left, render( partial: 'shared/sidebar_left', locals: {title: 'Events info', paragraph: 'top 10 events'} )

- content_for :sidebar_right, render(:partial => 'shared/sidebar_right')