login: &login
  adapter: postgres
  encoding: utf8
  reconnect: false
  username: username
  password: userpassword

development:
  <<: *login
  database: youappdatabasename_development

test:
  <<: *login
  database: youappdatabasename_test

production:
  <<: *login
  database: youappdatabasename_production