.well
  .row
    .col-xs-2
      = image_tag @school.creator.image.avatar.url(:thumb), class: 'img-circle', style: 'background-color:  #5bc0de'
    .col-xs-3
      %p
        %b Medals of students:
        3
      %p
        %b Students Number:
        39
      %p
        %b Level of master:
        3
      %p
        %b Relations:
        IWCO > RWCC > #{@school.name}
      %p
        %b Instructors:
        3
    .col-xs-7
      .progress
        .progress-bar{role:'progressbar', style: 'width: 45%', 'aria-valuenow' => '45', 'aria-valuemin' => '0', 'aria-valuemin' => '100'}
          45%
      .progress
        .progress-bar{role:'progressbar', style: 'width: 60%', 'aria-valuenow' => '60', 'aria-valuemin' => '0', 'aria-valuemin' => '100'}
          60%