%h1 Editing school

= form_for(@school, :html => {:multipart => true}, :url => user_school_path, :method => :put) do |f|
  = render :partial => 'form', :locals => { :f => f }

= link_to 'Show', @school
\|
= link_to 'Back', :back