%p#notice= notice




%table.table.table-striped
  %tbody
    %tr
      %th Название школы:
      %td=@school.school_name



= link_to 'Edit', edit_school_path(@school) if (can? :update, @school)

= link_to 'Back', schools_path
