/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_self
 * require_tree .
 */

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('glyphicons-halflings-regular.eot');
    src: url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('glyphicons-halflings-regular.woff') format('woff'),
    url('glyphicons-halflings-regular.ttf') format('truetype'),
    url('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}


html, body {
    height: 100%;
}
.row {
    margin-top: 80px;
}

footer {
    height:44px;
    line-height:44px;
    border: 1px solid #eee;
    text-align: center;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -45px;
}

.push { height: 63px; }

.wrapper > .container-fluid {
    padding-top: 60px;
}
