// Place all the styles related to the MainPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carousel-control {
  width: 0;
}

.carousel-control.left {
  background-image: none;
}
.carousel-control.right {
  background-image: none;
}

.thumbnail {
  margin-bottom: 0;
}